@if (!isAuthenticated()) {
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>
    {{ 'login.email' | translate }}
    <input type="email" formControlName="email" required />
  </label>
  <br />
  <label>
    {{ 'login.password' | translate }}
    <input type="password" formControlName="password" required />
  </label>
  <br />
  <label>
    {{ 'login.tenant' | translate }}
    <input formControlName="tenant" required />
  </label>
  <br />
  <button type="submit" [disabled]="form.invalid || loading">{{ 'login.submit' | translate }}</button>
  @if (error) {
    <div class="error">{{ error }}</div>
  }
</form>
} @else {
  <button (click)="logout()">{{ 'app.logout' | translate }}</button>
}
