<div class="app-layout">
  <header class="topbar">
    <img src="/assets/logo.png" alt="logo" style="height: 48px;">
    <p class="apptitle">sprint app</p>
    <div class="space"></div>
    <select [(ngModel)]="curr_project_uuid" (change)="onProjectChange($event)">
      <!--      <option [ngValue]="null" disabled>Select a project</option>-->
      <option value="test">Test</option>
      @for (item of projects; track item.id) {
        <option [ngValue]="item.id">
          {{ item.name }}
        </option>
      }
    </select>

<!--    <p>You selected: {{ curr_project_uuid }}</p>-->
  </header>

  <aside class="sidebar-left">
    <app-left-sidebar></app-left-sidebar>
  </aside>

  <main class="workspace">
    <div [hidden]="activeTool !== AvailableTools.LISTER">
      <app-lister></app-lister>
    </div>
    <div [hidden]="activeTool !== AvailableTools.ROADMAPPER">
      <app-roadmapper></app-roadmapper>
    </div>
    <div [hidden]="activeTool !== AvailableTools.DUMMY">
      DUMMY TOOL
    </div>
  </main>

  <aside class="sidebar-right">OBJECT DETAIL BAR</aside>

  <footer class="bottombar">BOTTOM BAR</footer>
</div>

